@import '../../variables.less';

/* ==========================================================================
   Main styles
   ========================================================================== */

body.main {
  min-width: 920px;
  position: relative;
  min-height: 780px;

  .aside {
    background-color: #2d2d2d;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px; bottom: 0; left: 0;

    footer {
      width: 100%;
      line-height: 50px;
      padding: 0 30px;
      position: absolute;
      bottom: 0;
      background-color: #525252;
      .pull-left, .pull-right { height: 50px;}
      .pull-right {
        padding-top: 9px;
      }
      a {
        font-size: 13px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        line-height: 50px;
        &:hover {
          text-decoration: none;
          color: @primary-color;
        }
        .fa {
          font-size: 26px;
          line-height: 50px;
          padding-right: 10px;
        }
      }
    }
  }

  .main {
    position: absolute;
    top: 50px; right: 0; bottom: 0; left: 281px;
  }
}