@import '../../variables.less';

/* ==========================================================================
   Rating section (playlist)
   ========================================================================== */

body.main .stations {
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
  width: 100%;

  .playlist-header {
    margin: 15px 0;
    text-align: center;
    position: relative;
    .btn {
      background-color: #AFAFAF;
      padding: 7px 10px;
      margin: 0 10px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      color: #f2f2f2;
      border-radius: 0;
    }
    .btn-add {
      position: absolute;
      left: 0;
    }

    .btn-open-filters {
      position: absolute;
      right: 0;
      top: 0;
    }

    h4 {
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 38px;
    }

    .filters {
      width: 100%;
      height: 34px;

      .date-filter {
        width: 35%;
        float: left;
      }

      .form-group {
        float: right;
        width: 20%;
        height: 32px;
        position: relative;
        .fa-search {
          position: absolute;
          top: 7px;
          left: 8px;
          color: rgba(240, 77, 78, 0.3);
          border-right: rgba(240, 77, 78, 0.3) 1px solid;
          padding: 3px 6px 3px 0;
        }
        .form-control {
          padding-left: 36px;
          border: rgba(240, 77, 78, 0.3) 1px solid;
          &:focus {
            border-color: rgba(240, 77, 78, 0.3);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 77, 78, 0.3);
          }
        }
      }
      .btn-group {
        float: right;
        .dropdown-menu {
          left: -32px;
          top: 110%;
          border-radius: 0;
          li:hover a {
            cursor: pointer;
            background: #e5e5e5;
          }
        }
      }
      .ui-slider {
        position: relative;
        margin: 10px 34px;
        .ui-slider-tip {
          position: absolute;
          top: -2px; left: -15px;
          width: 50px;
          height: 24px;
          padding: 2px 0 0 7px;
          font-size: 0.8em;
          background-color: @primary-color;
          color: #fff;
          overflow: hidden;
        }
      }
    }
    .pop {
      text-align: center;
      .btn-popover {
        background: @primary-color;
        color: #fff;
        transition: 0.2s ease;
        padding: 0.3em 0.8em;
        outline: none;
        &:hover {
          background: @primary-color-darken;
        }
      }
    }
  }

  .playlist {
    overflow: hidden;
    overflow-x: auto;
    text-align: center;
    ul {
      list-style: none;
      margin: 0;

      li {
        float: left;
        position: relative;
        width: 115px;
        margin: 10px;

        span.name {
          padding: 4px 0 0;
          display: block;
          color: #757575;
          font-size: 11px;
          font-weight: 400;
          text-decoration: none;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .thumbnail {
          height: 90px;
          width: 115px;
          border: none;
          margin-bottom: 2px;
          position: relative;
          overflow: hidden;
          z-index: -1;
          box-shadow: 1px 1px 3px 0 #777;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &:hover {
          .play-hover {
            display: block;
            background-color: rgba(0, 0, 0, 0.2);
          }
          img {
            opacity: 0.7;
          }
        }
      }
    }

    .play-hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 90px;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      span {
        display: block;
        padding: 5px 0 0;
      }
      .fa {
        font-size: 27px;
        cursor: pointer;
        color: #fff;
        width: 100%;
        &.mix { color: @mix-color; }
        &.art-only { color: @artist-only-color; }
      }

      .fa-times {
        position: absolute;
        right: 2px;
        top: 2px;
        font-size: 20px;
        width: auto;
      }

      .play-buttons {
        width: 46%;
        margin: 2%;
        float: left;
      }
      .add-buttons {
        width: 46%;
        margin: 2%;
        float: right;
      }
    }
  }
}