@import '../variables.less';

/* ==========================================================================
   Menu
   ========================================================================== */
body.share .navbar {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  border-radius: 0;
  margin: 0;

  .navbar-header {
    .btn-collapse {
      float: left;
      margin: 8px;
      border-color: @primary-color-lighten;
      color: @primary-color-lighten;
      &:hover {
        background-color: #fff;
        color: @primary-color;
        border-color: @primary-color;
      }

      &.right { float: right }
    }

    .brand {
      padding: 12px;
      position: relative;
      float: left;

      .beta {
        font-family: sans-serif;
        background-color: #f04d4e;
        color: #fff;
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        display: inline-block;
        font-size: 13px;
        border-radius: 4px;
        position: absolute;
        top: 7px;
        left: 170px;
        padding: 0 3px;
      }
    }
  }

  .nav-center {
    text-align: center;

    .btn-danger {
      margin: 11px 0;
    }

    @media screen and (min-width: @screen-sm) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .navbar-collapse {
    margin: 0;
    float: right;
    text-align: center;
    overflow: hidden;
    @media screen and (max-width: @screen-sm) {
      width: 100%;
    }

    li {
      list-style: none;
      a:hover {
        text-decoration: none;
      }
    }

    .dropdown-toggle {
      cursor: pointer;
      position: relative;
      display: block;
      padding: 0;
      line-height: 54px;
      color: #777;
      .avatar {
        height: 29px;
        border-radius: 15px;
        margin-right: 6px;
      }
    }

    .uib-dropdown-menu {
      border-radius: 0;
      border-top: 2px solid @primary-color;
      right: 0;
      margin: 0;

      li {
        padding: 0;
        cursor: pointer;
        a {
          padding: 10px 20px;
          transition: ease-out 0.15s;
          &:hover {
            background-color: #e5e5e5;
            cursor: pointer;
            transition: ease-out 0.15s;
          }
        }
        &.active a {
          background: #000000;
          color: #fff;
        }
      }
    }
  }
}