@import 'variables.less';

/* ==========================================================================
   Base styles
   ========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height: 100%;
  position: relative;
  min-height: 100%;
  color: #222;
  outline: none;
}

body {
  height: 100%;
  font-size: 16px;
}

header, footer, article, section, nav, figure, aside, main { display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input.ng-dirty.ng-invalid {
  border: 1px solid #822;
  background-color: #fcc;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, img, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  margin: 0;
  padding: 0;
  resize: vertical;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
  padding-bottom: 2px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  padding: 0 0 15px 0;
  line-height: 18px;
}

a:hover{ cursor: pointer; }

.rating:focus {
  outline: none;
}

.prm-clr {
  color: @primary-color !important;
}

.pd-rgh {
  padding-right: 5px;
}

/* ==========================================================================
   Loading Bar
   ========================================================================== */
#loading-bar .bar {
  background: @primary-color;
}
#loading-bar-spinner {
  top: 7px;
  left: 29px;
  .spinner-icon {
    border-top-color: @primary-color;
    border-left-color: @primary-color;
    height: 37px;
    width: 37px;
    border-width: 3px;
  }
}

/* ==========================================================================
   Scrollbar
   ========================================================================== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* ==========================================================================
   Tour
   ========================================================================== */
.ng-joyride-title {
  border-radius: 4px;
  margin-left: 0;
  overflow: hidden;
  width: 70%;
  left: 15%;
  top: 15%;
  .popover-title {
    display: none;
  }
  .popover-content {
    padding: 15px;
    h2 {
      color: @primary-color;
      margin: 0 15%;
      line-height: 34px;
      text-align: center;
    }
    img {
      width: 100%;
      margin-top: 10px;
    }
    hr { display: none; }

    .row {
      position: absolute;
      top: 15px;
      width: 100%;
      .skipBtn {
        color: #777;
        font-size: 13px;
        text-decoration: none;
        .glyphicon { display: none; }
      }
      .btn {
        padding: 2px 4px;
        margin: 6px 1px;
        font-size: 12px;
        border: 0;
        &.nextBtn {
          background-color: #03a9f4;
          &:hover {
            background-color: darken(#03a9f4, 5%);
          }
        }
      }
    }
  }
}


/* ==========================================================================
   Olark form
   ========================================================================== */
body.login #habla_window_state_div {
  display: none;
}

#habla_window_div {
  #habla_panel_div {
    border-radius: 0;

    #habla_topbar_div {
      background-color: @primary-color !important;
      border-radius: 0;
    }

    .habla_offline_submit_input {
      background-color: @primary-color !important;
    }
  }
}