@root: "./../..";
@vendor: "@{root}/vendor";
@fonts-folder: "@{root}/fonts";

@screen-xs: 480px;
@screen-sm: 767px;
@screen-md: 992px;
@screen-lg: 1200px;

@primary-color: #f04d4e;
@primary-color-darken: darken(@primary-color, 15%);
@primary-color-lighten: lighten(@primary-color, 15%);

@mix-color: #5cb85c;
@artist-only-color: #5bc0de;

@facebook-color: #3b5998;
@twitter-color: #4099FF;